<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
    <head>
        <title>Store Items</title>
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="/product" class="btn btn-primary"><span class="glyphicon glyphicon-list"></span> Store Items</a>
                </h3>
                <h2 th:text="${storeitem.itemname}"></h2>
                <h2><img th:src="${storeitem.item}" width="200" /></h2>
                <dl class="list">
                    <dt>Info on this Store Item</dt>
                    <dd th:text="${storeitem.infoitem}"></dd>
                    <dt>Store Item Amount</dt>
                    <dd th:text="${storeitem.itemamount}"></dd>
                </dl>
                <form action="/delete">
                    <input type="hidden" name="id" th:value="${storeitem.id}" />
                    <h2><input type="submit" class="btn btn-danger" value="Delete" />
                        <a th:href="@{'/edit/' + ${storeitem.id}}" class="btn btn-warning">Change Store Item</a></h2>
                </form>
            </div>
        </div>
    </body>
</html>
