<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
    <head>
        <title>Store Items</title>
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="/addstoreitem" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Product</a>
                </h3>
                <h2>Store Items</h2>
                <div class="table-responsive">
                    <table class="table" id="product-table">
                        <thead>
                            <tr>
                                <th>Store Item Name</th>
                                <th>Info about this store item</th>
                                <th>Item Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="storeitem : ${storeitems}">
                                <td><a th:text="${storeitem.itemname}" th:href="@{'/show/' + ${storeitem.id}}"></a></td>
                                <td th:text="${storeitem.infoitem}"></td>
                                <td th:text="${storeitem.itemamount}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
